@* Copyright 2020 Carnegie Mellon University. *@
@* Released under a MIT (SEI) license. See LICENSE.md in the project root. *@

@model NoticeViewModel
<div class="row">
    <div class="col panel text-center">
        <h1 class="display-4">Notice</h1>
        <div>
            @Html.Raw(Model.Text)
        </div>
        <form asp-route="notice">
            <input type="hidden" asp-for="@Model.ReturnUrl" />
            <input type="hidden" asp-for="@Model.Next" />
            <button class="btn btn-primary" type="submit">Continue</button>
        </form>
    </div>
</div>
