@* Copyright 2020 Carnegie Mellon University. *@
@* Released under a MIT (SEI) license. See LICENSE.md in the project root. *@

@model PasswordViewModel
<div class="row">
    <div class="col panel text-center">
        <h1 class="display-4">Password</h1>
        <form asp-route="Password">
            <fieldset>
                @await Html.PartialAsync("_ValidationSummary")
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Current Password" required
                        aria-label="enter current password" asp-for="CurrentPassword" autocomplete="current-password" autofocus="on">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="New Password" required
                        aria-label="enter new password" asp-for="Password" autocomplete="new-password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password" required
                        aria-label="confirm new password" asp-for="ConfirmPassword" autocomplete="new-password">
                </div>
                <p class="small" aria-label="password complexity requirement">@Model.Complexity</p>
                <div class="form-group">
                    <button class="btn btn-primary" name="action"
                        aria-label="change password" value="reset" type="submit">Submit</button>
                </div>
            </fieldset>
        </form>
    
    </div>
</div>

