@* Copyright 2020 Carnegie Mellon University. *@
@* Released under a MIT (SEI) license. See LICENSE.md in the project root. *@

@model NoticeViewModel
<div class="row">
    <div class="col panel text-center">
        <p class="display-4">Troubleshooting</p>
        <div>
            @Html.Raw(Model.Text)
        </div>
    </div>
</div>
